
# Ignore input data for Figure 4 for now - It includes large adata object
2_Cellcycle/Figure_4/input_files/

# Ignore input data for Figure 6 for now - It includes large adata object
3_Tcells/Figure_6/input_files/

# Ignore temporary notebooks
.ipynb_checkpoints

# Ignore .h5 preprocessed files (to be downloaded)
*.h5
